@import 'tailwindcss';

@theme {
  --color-lightGreen: #d4ffe5;
  --color-darkGreen: #3ddb8f;
}

@theme inline {
  --font-mono: var(--font-rakkas);
  --font-sans: var(--font-scope-one);
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;

  text-decoration: none;
}
